
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.infobox-wrapper {
    display:none;
}

#infobox {
    border: 0px solid black;
    margin-top: 8px;
    background: #14a092;
    color:#FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #999;
    overflow: auto;
}

#infobox img {
	max-width: 150px;
	float: left;
}

#infobox-text {
	display: block;
	float: left;
	padding: 5px 0px 0 15px;
}

#infobox-text span {
	font-weight: bold;
	font-size: 14px;
}